@import "macchiato.css";
* {
    font-family: "Ubuntu", "Noto Sans";
    font-size: 9pt;
    border: none;
    font-weight: 400;
    padding: 1px 1px;
}

window#waybar {
    color: transparent;
    background: @base;
    opacity: 0.90;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 8px;
}

#workspaces button {
    color: @text;
}

button:hover {
    color: @red;
    background-color: @surface1;
}

#workspaces button.focused {
    color: @yellow;
    background-color: @crust;
}

#workspaces button.urgent {
    background-color: @overlay1;
}
#mode {
    background-color: @mantle;
    color: @text;
}

.modules-left {
    padding-left: 8px;
    border-radius: 8px;
    color: @text;
}
.modules-right {
    transition: none;
    background: @base;
    color: @text;
    padding-right: 8px;
}

#workspaces {
    padding: 0;
    margin: 2 1px;
    background-color: @mantle;
    border-radius: 8px;
}

#language, #clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor, #mpd, #custom-loadavg, #custom-uptime, #wireplumber {
    padding: 0 8px;
    margin: 2 1px;
    background-color: @mantle;
    border-radius: 8px;
}

#window {
    color: transparent;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#language {
    padding: 0 4px;
    min-width: 24px;
}
